#div-pagination {
  border: 1px solid dodgerblue;
  margin-right: 10px;
  display: flex;
  align-self: flex-end;
  width: fit-content;
  p {
    color: #eee;
    padding: 8px;
  }
  button {
    &:hover {
      background-color: transparent;
    }
    display: flex;
    background-color: dodgerblue;
    color: #eee;
    padding: 12px 20px;
    vertical-align: top;
  }
}
