#div-info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    color: #eee;
    font-size: 16px;
    margin: 20px;
  }

  p {
    color: #bbb;
    margin: 20px;
    font-size: 12px;
    text-align: justify;
    flex: 2;
  }

  button {
    &:hover {
      background-color: #303f9f;
      color: #fff;
    }
    background-color: #fff;
    color: #303f9f;
    border: 1px solid #fff;
    font-size: 12px;
    width: 220px;
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (width <= 700px) {
  #div-info-bar {
    div {
      flex-direction: column;
      button {
        align-self: center;
      }
    }
  }
}
