/* 1. Suppression des marges et des espacements par défaut */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Suppression des bordures par défaut des éléments */
a {
  text-decoration: none;
  color: inherit;
}

/* 3. Style de base pour le corps du document */
html {
    background-color: #283593;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
//   background-color: #fafafa;
  color: #333;
}

/* 4. Suppression du style de liste de base */
ul, ol {
  list-style: none;
}

/* 5. Suppression du style par défaut des images */
img {
  max-width: 100%;
  height: auto;
}

/* 6. Garantir que les éléments de formulaire se comportent correctement */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

/* 7. Réinitialisation du comportement des tableaux */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

/* 8. Améliorer l'accessibilité des liens au survol */
a:hover,
a:focus {
  text-decoration: underline;
  outline: none;
}
