#div-search {
  border: 1px solid dodgerblue;
  text-align: center;

  input {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 10px 20px;
  }

  button {
    &:hover {
      background: dodgerblue;
    }
    color: #fff;
    display: flex;
    align-items: center;
    vertical-align: top;
    padding: 12px;
  }
}
