header {
  padding-bottom: 20px;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #fff;
    font-size: 32px;
    padding: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
