header {
  // background-color: #283593;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #fff;
    font-size: 32px;
    padding: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

@media (width <= 700px) {
  header {
    justify-content: center;
  }
}
