header {
  padding-bottom: 20px;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: #fff;
    font-size: 32px;
    padding: 20px;
  }
}
