#main-home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 8px;
  padding: 10px;
}

@media (width <= 700px) {
  #main-home {
    grid-template-columns: repeat(2, 1fr);
  }
}
