.product-item {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  img {
    background-color: #fff;
    box-shadow: 0px 3px 4px #ccc;
    width: 200px;
    height: 200px;
    padding: 10px;
    object-fit: contain;
  }
  p {
    color: #000;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
  }
}
