#main-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin: 20px;
  height: 85vh;

  aside {
    // background-color: #fff;
    width: 300px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 85vh;
  }

  section {
    flex: 1;
    height: 85vh;
    overflow: scroll;
  }
}

@media (width <= 700px) {
  main {
    justify-content: center;
  }
}
