#main-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin: 20px;
  height: 85vh;

  aside {
    width: 200px;
    display: flex;
    justify-content: center;
    height: 85vh;
  }

  section {
    flex: 1;
    height: 85vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 700px) {
  #main-app {
    justify-content: center;

    height: 75vh;
    aside,
    section {
      height: 75vh;
    }
    aside {
      display: none;
    }
  }
}
