nav {
  // background-color: #283593;
  border-bottom: 1px solid dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 10vh;

  div {
    display: flex;
    align-items: center;

    #a-logo {
      color: #fff;
      font-size: 32px;
      margin: 0px 20px;
      text-decoration: underline;
    }
  }
}

@media (width <= 700px) {
  nav {
    flex-direction: column;
    height: 20vh;
    padding: 20px 10px;
    div {
      flex-direction: column;
    }
  }
}
