#ul-links {
  list-style: none;
  display: flex;
  li {
    a {
      &:hover {
        color: #fff;
      }
      display: block;
      color: dodgerblue;
      font-size: 14px;
      padding: 20px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none !important;
    }
  }
}
